.inputStyle:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}
.mainInput {
  margin-top: 15px;
  width: 550px !important;
  padding-left: 30px;
}
.productMain {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.notFound {
  color: red;
}
