.inputStyle:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}
.mainInput {
  margin-top: 15px;
  width: 550px !important;
  padding-left: 15px;
  padding-right: 15px;
}
.productMain {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.notFound {
  color: red;
}

@media only screen and (max-width: 600px) {
  .mainInput {
    width: 100% !important;
  }
}
